.container{
          display: flex;
}
.icon-container{
          border: 1px solid gray;
          padding: 10px;
          border-radius: 6px;
          margin-left: 90px;
          width: 100px;
          cursor: pointer;
}