.text-footer{
          display: flex;
          margin-left: auto !important;
          color: rgb(212, 40, 40);
          margin-right: 20px;
}
.text-footer p{
          margin-right: 50px;

}
.footer-content img{
          width: 160px;
          margin-left: 100px;
          
}
.text{
          margin-left: auto !important;
}
.footer-content{
          padding: 20px;
          display : flex;
          color: white;
}