.cartItem{
          
          margin: 10px 40px;
}
.text-items{
          color: rgb(83, 70, 70);
          width: 500px;
          margin-left:80px;
}
.main-container{
          margin-top: 130px;
}
